{% extends 'blog/base.html' %}
{% load comment_tree %}
{% block container %}
<div class="page-article col-lg-9">
    <div class="card">
        <article class="card-body">
            <h1 class="card-title">{{ article_info.title }}</h1>
            <hr>
            <p class="card-text">{{ article_info.text }}</p>
        </article>
        <div class="card-footer">
            <span class="badge badge-warning"><i class="fas fa-calendar-day"></i> {{ article_info.create_time }}</span>
            {% for category in category_list %}
            <a class="badge badge-dark" href="{% url 'blog:category_detail' category.slug %}"><i class="fas fa-cube"></i> {{ category.name }}</a>
            {% endfor %}
            {% for tag in tag_list %}
            <a class="badge badge-primary" href="{% url 'blog:tag_detail' tag.slug %}"><i class="fas fa-tag"></i> {{ tag.name }}</a>
            {% endfor %}
        </div>
    </div>
    <a href="#" class="page-article-comment-add page-content-button btn btn-primary">发表评论</a>
    {% autoescape off %}
    {% get_comments article_info.id %}
    {% endautoescape %}
</div>
{% endblock %}
