{% load static %}
{% load blog_extras %}
{% url 'blog:category' as url_category %}
{% url 'blog:category_detail' as url_category_detail %}
{% get_view_name request.path as view_name %}
<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'blog/css/code.css' %}">
        <link rel="stylesheet" href="{% static 'blog/fontawesome/css/all.css' %}">

        <title>{{ basic_info.blog_name }}</title>
    </head>

    <body>
        <div class="page-navbar">

            <nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-white rounded d-flex">

                <a class="navbar-brand page-navbar-title" href="{% url 'blog:index' %}">{{ basic_info.blog_name }}</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                            <a class="nav-link" href="/">首页</a>
                        </li>
                        {% for page in page_list %}
                        {% str_cat page.slug '.html' as file_name %}
                        <li class="nav-item {% if view_name == file_name %}active{% endif %}">
                            <a class="nav-link" href="{% url 'blog:page' page.slug %}">{{ page.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </nav>

        </div>

        <div class="page-container container-fluid">

            <div class="row">

                <div class="page-sidebar col-lg-3">
                    {% if basic_info.is_login == True %}
                    <div class="card">
                        <img class="card-img-top" src="{% get_gravatar basic_info.user_email %}" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title">{{ basic_info.user_nickname }}</h2>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'blog:logout' %}" class="page-content-button btn btn-primary login-button">退出登录</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url 'blog:login' %}" class="page-content-button btn btn-primary login-button">登录</a>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'blog:register' %}" class="page-content-button btn btn-primary login-button">注册</a>
                        </div>
                    </div>
                    {% endif %}

                    <form class="input-group mb-3" method="get" action="{% url 'blog:search' %}">
                        <input type="text" class="form-control" placeholder="搜索" id="keyword" name="keyword">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fas fa-search"></i></button>
                        </div>
                    </form>

                    <div class="list-group">
                        <a href="{% url 'blog:category' %}" class="list-group-item list-group-item-action {% if view_name == 'category' %}active{% endif %}"><span class="page-sidebar-list-content"><i class="fas fa-cube"></i>分类<span class="badge badge-pill {% if view_name == 'category' %}badge-light{% else %}badge-primary{% endif %}">{{ basic_info.number_of_category }}</span></span></a>
                        <a href="{% url 'blog:tag' %}" class="list-group-item list-group-item-action {% if view_name == 'tag' %}active{% endif %}"><span class="page-sidebar-list-content"><i class="fas fa-tags"></i>标签<span class="badge badge-pill {% if view_name == 'tag' %}badge-light{% else %}badge-primary{% endif %}">{{ basic_info.number_of_tag }}</span></span></a>
                        <a href="{% url 'blog:archive' %}" class="list-group-item list-group-item-action {% if view_name == 'archive' %}active{% endif %}"><span class="page-sidebar-list-content"><i class="fas fa-archive"></i>归档</span></a>
                        <a href="{% url 'blog:link' %}" class="list-group-item list-group-item-action {% if view_name == 'link' %}active{% endif %}"><span class="page-sidebar-list-content"><i class="fas fa-link"></i>链接<span class="badge badge-pill {% if view_name == 'link' %}badge-light{% else %}badge-primary{% endif %}">{{ basic_info.number_of_link }}</span></span></a>
                    </div>


                    <div class="list-group">
                        <a href="https://github.com/{{ basic_info.github }}" class="list-group-item list-group-item-action" target="_blank"><span class="page-sidebar-list-content"><i class="fab fa-github"></i>GitHub</span></a>
                        <a href="https://weibo.com/{{ basic_info.weibo }}" class="list-group-item list-group-item-action" target="_blank"><span class="page-sidebar-list-content"><i class="fas fa-hashtag"></i>微博</span></a>
                    </div>
                </div>

                {% block container %}
                {% endblock %}

            </div>

        </div>

        <footer class="footer py-3">
            <div class="container">
                <span class="text-muted">Copyright &copy; 2019 {{ basic_info.blog_name }}.</span>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
        <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
        <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <script type="text/javascript" src="{% static 'blog/js/math.js' %}"></script>
        <script type="text/javascript" src="{% static 'blog/js/control.js' %}"></script>
    </body>
</html>
