{% extends 'blog/base.html' %}
{% load blog_extras %}
{% block container %}
<div class="page-content col-lg-9">

     <div class="alert alert-primary" role="alert">
         <i class="fas fa-cube"></i> 分类：{{ category_info.name }} <span class="badge badge-pill badge-light" href="#">{{ basic_info.number_of_article }}</span>
     </div>

    {% for article in article_list %}
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">{{ article.title }}</h1>
            <hr>
            <div class="card-text">{{ article.summary|safe }}</div>
            <a href="{% url 'blog:article' article.slug %}" class="page-content-button btn btn-primary">阅读全文</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-warning"><i class="fas fa-calendar-day"></i> {{ article.create_time }}</span>
            <span class="badge badge-success"><i class="fas fa-user"></i> {{ article.author_id.nickname }}</span>
            {% get_element_from_index category_list forloop.counter0 as raw_category_list %}
            {% for category in raw_category_list %}
            <a class="badge badge-dark" href="{% url 'blog:category_detail' category.slug %}"><i class="fas fa-cube"></i> {{ category.name }}</a>
            {% endfor %}
            {% get_element_from_index tag_list forloop.counter0 as raw_tag_list %}
            {% for tag in raw_tag_list %}
            <a class="badge badge-primary" href="{% url 'blog:tag_detail' tag.slug %}"><i class="fas fa-tag"></i> {{ tag.name }}</a>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

    <nav>
        <ul class="pagination">
            {% if page_id > 1 %}
            <li class="page-item"><a class="page-link" href="{% url 'blog:category_detail' category_info.slug page_id|add:-1 %}"><i class="fas fa-arrow-left"></i> 上一页</a></li>
            {% endif %}
            {% if page_id > 2 %}
            <li class="page-item"><a class="page-link" href="{% url 'blog:category_detail' category_info.slug page_id|add:-2 %}">{{ page_id|add:-2 }}</a></li>
            {% endif %}
            {% if page_id > 1 %}
            <li class="page-item"><a class="page-link" href="{% url 'blog:category_detail' category_info.slug page_id|add:-1 %}">{{ page_id|add:-1 }}</a></li>
            {% endif %}

            <li class="page-item active"><a class="page-link" href="#">{{ page_id }}</a></li>

            {% if page_id < basic_info.number_of_article_page %}
            <li class="page-item"><a class="page-link" href="{% url 'blog:category_detail' category_info.slug page_id|add:1 %}">{{ page_id|add:1 }}</a></li>
            {% endif %}
            {% if page_id|add:1 < basic_info.number_of_article_page %}
            <li class="page-item"><a class="page-link" href="{% url 'blog:category_detail' category_info.slug page_id|add:2 %}">{{ page_id|add:2 }}</a></li>
            {% endif %}
            {% if page_id < basic_info.number_of_article_page %}
            <li class="page-item"><a class="page-link" href="{% url 'blog:category_detail' category_info.slug page_id|add:1 %}"><i class="fas fa-arrow-right"></i> 下一页</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
