{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'blog/fontawesome/css/all.css' %}">
        <link rel="stylesheet" href="{% static 'control/css/login.css' %}">
        <title>登录 - Nitroblog</title>
    </head>
    <body>
        <form class="form-signin" method="POST" action="{% url 'blog:login' %}">
            {% csrf_token %}
            {% if login_message %}
            <div class="alert alert-warning" role="alert">
                <i class="fas fa-exclamation-triangle"></i> {{ login_message }}！
            </div>
            {% endif %}
            <h1 class="h3 mb-3 font-weight-normal text-center">登录到 Nitroblog</h1>
            {{ form_info.username }}
            {{ form_info.password }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2019 Nitroblog</p>
        </form>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
        <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
        <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
        <script type="text/javascript" src="{% static 'blog/js/math.js' %}"></script>
    </body>
</html>
