{% extends 'control/base.html' %}
{% block container %}
                    <div class="alert alert-primary" role="alert">
                        <i class="fas fa-info-circle"></i> 欢迎回来，{{ request.session.username }}！
                    </div>

                    <div class="cp-dashboard-info row">

                        <div class="col-lg">
                            <div class="card text-center cp-dashboard-card">
                                <div class="card-header">
                                    <i class="far fa-file-alt"></i>文章
                                </div>
                                <div class="card-body">
                                    <span class="cp-dashboard-statnumber">{{ number.article }}</span>
                                    <span class="cp-dashboard-unit">篇</span>
                                </div>
                                {% if request.session.user_group == 'administrator' or request.session.user_type == 'writer' %}
                                <div class="card-footer text-muted">
                                    <a href="{% url 'control:article_list' %}" class="btn btn-primary"><i class="fas fa-sliders-h"></i>管理</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-lg">
                            <div class="card text-center cp-dashboard-card">
                                <div class="card-header">
                                    <i class="far fa-comments"></i>评论
                                </div>
                                <div class="card-body">
                                    <span class="cp-dashboard-statnumber">{{ number.comment }}</span>
                                    <span class="cp-dashboard-unit">条</span>
                                </div>
                                {% if request.session.user_group == 'administrator' or request.session.user_type == 'writer' %}
                                <div class="card-footer text-muted">
                                    <a href="#" class="btn btn-primary"><i class="fas fa-sliders-h"></i>管理</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-lg">
                            <div class="card text-center cp-dashboard-card">
                                <div class="card-header">
                                    <i class="fas fa-cube"></i>分类
                                </div>
                                <div class="card-body">
                                    <span class="cp-dashboard-statnumber">{{ number.category }}</span>
                                    <span class="cp-dashboard-unit">个</span>
                                </div>
                                {% if request.session.user_group == 'administrator' or request.session.user_type == 'writer' %}
                                <div class="card-footer text-muted">
                                    <a href="{% url 'control:category_list' %}" class="btn btn-primary"><i class="fas fa-sliders-h"></i>管理</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-lg">
                            <div class="card text-center cp-dashboard-card">
                                <div class="card-header">
                                    <i class="fas fa-tags"></i>标签
                                </div>
                                <div class="card-body">
                                    <span class="cp-dashboard-statnumber">{{ number.tag }}</span>
                                    <span class="cp-dashboard-unit">个</span>
                                </div>
                                {% if request.session.user_group == 'administrator' or request.session.user_type == 'writer' %}
                                <div class="card-footer text-muted">
                                    <a href="{% url 'control:tag_list' %}" class="btn btn-primary"><i class="fas fa-sliders-h"></i>管理</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>

                    </div>

                    {% if request.session.user_group == 'administrator' %}
                    <div class="cp-dashboard-content-list row">
                        <div class="col-lg">
                            <div class="card cp-dashboard-card">
                                <div class="card-header">
                                    <i class="far fa-file-alt"></i>最近发布的文章
                                </div>
                                <ul class="list-group list-group-flush">
                                    {% for article in recent_article_list %}
                                    <a href="{% url 'control:article_edit' article.2 %}" target="_blank" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">{{ article.0 }}</a>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg">
                            <div class="card cp-dashboard-card">
                                <div class="card-header">
                                    <i class="far fa-comments"></i>最近发表的评论
                                </div>
                                <ul class="list-group list-group-flush">
                                    {% for comment in recent_comment_list %}
                                    <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"><span class="badge badge-primary"><i class="fas fa-user"></i> {{ comment.1 }}</span>{{ comment.0 }}</a>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}
{% endblock %}
